<h4 class="list-header center-align white-text blue noselect">OUTLINER</h4>
<ul class="collection with-header">
  <li class="collection-header">POSITION</li>
  <li class="collection-item">x: {{model.position.x}}</li>
  <li class="collection-item">y: {{model.position.y}}</li>
</ul>
