@import 'layout.css';
@import 'input.css';
@import 'actor-inspector.css';

.list-header {
  margin: 0;
  height: 1.4em;
}

/* Add REAL z-depth to z order classes */
.z-depth-1 {
  z-index: 1;
}
.z-depth-2 {
  z-index: 2;
}
.z-depth-3 {
  z-index: 3;
}
.z-depth-4 {
  z-index: 4;
}
.z-depth-5 {
  z-index: 5;
}

.collection.with-header > .collection-header {
  padding: 0.2em 0 0.2em 0.5em;
}
.collection.with-header > .collection-item {
  padding: 0.5em 0 0 0;
}
.collection-item input {
  height: 1rem;
}

.scroll-y {
  position: absolute;
  top: 3.2rem;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}

/* Select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}
