@import 'materialize';

/* Branch */
.tree-branch {
    padding: 0px;
    margin: 0px;
}
.tree-node .tree-branch {
    padding-left: 10px; /* Nested tree branches should be indented */
}

/* Node */
.tree-node {
    list-style: none;
    line-height: 20px;
}

/* Arrow */
.tree-node .toggle-icon {
    cursor: pointer;
}
.tree-node .toggle-icon:hover {
    opacity: 0.8;
}
.tree-node .toggle-icon.leaf {
    visibility: hidden;
}

/* Node text */
.tree-node .text {
    cursor: pointer;
    text-decoration: underline;

    color: white;
}
.tree-node .text:hover {
    text-decoration: none;
}

/* Outliner */
.outliner {
    .outliner-tree {
        padding-left: 0.4em;

        .visible-icon {
            cursor: pointer;
        }
    }
}

/* Control styles */
.list-header {
    font-size: 24px;
    margin: 0 0 4px 0;
    padding-left: 1em;
}

/* Layout */
@mixin side {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.left-side {
    @include side;
    left: 0;
}

.right-side {
    @include side;
    right: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}
