@import 'materialize';

@import 'ci-tree';
@import 'ci-outliner';
@import 'ci-viewport';

/* Control styles */
.list-header {
    font-size: 24px;
    margin: 0 0 4px 0;
    padding-left: 1em;
}

/* Layout */
@mixin side {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.left-side {
    @include side;
    left: 0;
}

.right-side {
    @include side;
    right: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}

.hide {
    display: none;
}
