@import 'layout.css';
@import 'actor-inspector.css';

.list-header {
  margin: 0;
  height: 1.4em;
}

/* Add REAL z-depth to z order classes */
.z-depth-1 {
  z-index: 1;
}
.z-depth-2 {
  z-index: 2;
}
.z-depth-3 {
  z-index: 3;
}
.z-depth-4 {
  z-index: 4;
}
.z-depth-5 {
  z-index: 5;
}

.collection.with-header > .collection-header {
  padding: 1em 10px;
}
.collection.with-header > .collection-item {
  padding: 10px 0 0 1em;
}
.collection-item input {
  height: 1rem;
}

/* Theme */
.collection.with-header > .collection-header {
  /*background-color: */
}

/* Select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}
