/* Side panel */
.side-panel {
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.side-panel.left {
  left: 0;
}

.side-panel.right {
  right: 0;
}

/* Viewport */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}
