<aside class="ui vertical inverted sidebar left visible">
  {{actor-outliner
    root=model
    selected=selected
    toggleActorVisibility='toggleActorVisibility'
    deleteActor='deleteActor'}}
</aside>

<section class="fullscreen">
  {{pixi-viewport
    actor=model
    selected=selected
    selectedEditable=selectedEditable
    actorPropertyUpdateEventEmitter=controller
    actorDeleteEventEmitter=controller}}
</section>

<aside class="ui vertical inverted sidebar right visible">
  {{actor-inspector
    model=selected
    editable=selectedEditable
    updateActorProperty='updateActorProperty'}}
</aside>

{{outlet}}
