<aside class="ui sidebar left dark visible">
  <div class="ui large header center blue-bg"><b>INSPECTOR</b></div>
  <section class="section">
    {{actor-outliner
      root=model
      selected=selected
      toggleActorVisibility='toggleActorVisibility'
      deleteActor='deleteActor'}}
  </section>
</aside>

<section class="fullscreen">
  {{pixi-viewport
    actor=model
    selected=selected
    selectedEditable=selectedEditable
    actorPropertyUpdateEventEmitter=controller
    actorDeleteEventEmitter=controller}}
</section>

<aside class="ui sidebar right dark visible">
  <div class="ui large header center blue-bg"><b>INSPECTOR</b></div>
  <section class="section">
    {{actor-inspector
      model=selected
      editable=selectedEditable
      updateActorProperty='updateActorProperty'}}
    </section>
</aside>

{{outlet}}
