<aside class="side-panel left white z-depth-2">
  {{actor-outliner
    root=model
    selectActor='selectActor'
    toggleActorVisibility='toggleActorVisibility'
    deleteActor='deleteActor'}}
</aside>

<section class="z-depth-1">
  {{pixi-viewport
    actor=model
    selected=selected
    selectedEditable=selectedEditable
    delegate=controller}}
</section>

<aside class="side-panel right white z-depth-2">
  {{actor-inspector
    model=selected
    editable=selectedEditable}}
</aside>

{{outlet}}
