<aside class="side-panel left z-depth-2">
  {{actor-outliner
    root=model
    selected=selected
    toggleActorVisibility='toggleActorVisibility'
    deleteActor='deleteActor'}}
</aside>

<section class="z-depth-1">
  {{pixi-viewport
    actor=model
    selected=selected
    selectedEditable=selectedEditable
    actorPropertyUpdateEventEmitter=controller
    actorDeleteEventEmitter=controller}}
</section>

<aside class="side-panel right z-depth-2">
  {{actor-inspector
    model=selected
    editable=selectedEditable
    updateActorProperty='updateActorProperty'}}
</aside>

{{outlet}}
