<aside class="side-panel left white z-depth-2">
  {{actor-outliner root=model delegate=controller}}
</aside>

<section class="z-depth-1">
  {{pixi-viewport actor=model selected=selected selectedEditable=selectedEditable}}
</section>

<aside class="side-panel right white z-depth-2">
  {{actor-inspector model=selected editable=selectedEditable delegate=controller}}
</aside>

{{outlet}}
