<div class="row">
    <div class="col s12 teal white-text">This div is 12-columns wide</div>
    <div class="col s6 purple white-text">This div is 6-columns wide</div>
    <div class="col s6 pink white-text">This div is 6-columns wide</div>
</div>

{{ci-outliner model=model}}

{{outlet}}
